<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sete</title>
</head>
<body>
    <table>
        <thead>
            <th>Nome do aluno</th>
            <th>Nome do curso</th>
            <th>Data_matricula</th>
        </thead>
        {% for linha in banco %}
            <tr>
                <td>{{ linha['Nome do aluno'] }}</td>
                <td>{{ linha['Nome do curso'] }}</td>
                <td>{{ linha['data_matricula'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>