<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="nomeA">Nome</label>
            <input type="text" name="nomeA" id="nomeA">
        </div>
        <div>
            <label for="cidadeN">Novo nome da cidade</label>
            <input type="text" name="cidadeN" id="cidadeN">
        </div>
        <div>
            <input type="submit" value="Alterar">
        </div>
    </form>
</body>
</html>